<h1>My Bookings!</h1>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <% @bookings.each do |booking| %>
        <div class="col-6 col-md-3 m-2 p-3 border border-info">
          <p>
            <strong>Start Date:</strong>
            <%= booking.start_date %>
          </p>
          <p>
            <strong>End Date:</strong>
            <%= booking.end_date %>
          </p>
          <p>
            <strong>Instrument:</strong>
            <%= booking.instrument.title %>
          </p>
          <p>
            <strong>Total Price:</strong>
            <%= booking.total_price %>
          </p>
          <div class="card" style="width: 250px; height: 250px">
            <%= image_tag booking.instrument.photo %>
          </div>
          </p>
          <%= link_to 'Edit', edit_booking_path(booking), class: "btn btn-primary" %>
          <%= link_to 'Show', booking_path(booking), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

