<h1>My Bookings</h1>

  <div class="container mt-5">
      <div class="row row-cols-3 gy-2">
        <% @bookings.each do |booking| %>
          <div class="col col-md-6 col-lg-4 col-xl-3 mb-4 col-sm-12 col-xs-12">
            <div class="card border border-warning rounded-5 border-1 p-3">
            <p><strong>Start Date:</strong><%= booking.start_date %></p>
            <p><strong>End Date:</strong><%= booking.end_date %></p>
            <p><strong>Instrument:</strong><%= booking.instrument.title %></p>
            <p><strong>Total Price:</strong><%= booking.total_price  %> <i class="fa-solid fa-euro-sign"></i></p>

            <div class="card" style="width: 250px; height: 250px;">
              <% if booking.instrument.photos.attached? %>
                <div id="carousel-<%= booking.id %>" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <% booking.instrument.photos.each_with_index do |photo, index| %>
                      <button type="button" data-bs-target="#carousel-<%= booking.id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
                    <% end %>
                  </div>
                  <div class="carousel-inner">
                    <% booking.instrument.photos.each_with_index do |photo, index| %>
                      <div class="carousel-item <%= 'active' if index == 0 %>">
                        <%= image_tag url_for(photo), class: "d-block w-100 align-center" %>
                      </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= booking.id %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= booking.id %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              <% else %>
                <p>No photos available for this instrument.</p>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
