<h1>My Bookings!</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Instrument</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.id %></td>
        <td><%= booking.instrument.name %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to "Go back", root_path %>
</ul>
