<h1>Book <%= @instrument.title %></h1>

<%= simple_form_for [@instrument, @booking] do |f| %>
  <%= f.input :start_date, input_html: {data: {controller: "datepicker" }} %>
  <%= f.input :end_date, input_html: {data: {controller: "datepicker" }} %>
  <%= f.button :submit %>
<% end %>

<% if @booking.start_date && @booking.end_date %>
  <% total_price = (@booking.end_date - @booking.start_date).to_i * @instrument.price_per_day %>
  <span>Total Price: <%= total_price %></span>
<% end %>
<span>Total Price: <%= @booking.total_price %></span>
