<h1>Book <%= @instrument.title %></h1>

<%= simple_form_for [@instrument, @booking] do |f| %>
  <%= f.input :start_date, input_html: {data: {controller: "datepicker" }} %>
  <%= f.input :end_date, input_html: {data: {controller: "datepicker" }} %>
  <%= f.button :submit %>
<% end %>
