<div class="container mt-5">
  <h1>Edit Instrument</h1>
  <div class="mt-2">
      <%= simple_form_for @instrument do |f| %>
        <%= f.input :title %>
        <%= f.input :body %>
        <%= f.input :price,  as: :numeric, input_html: { min: 0 }  %>
        <%= f.input :category, collection: ["String", "Percussion", "Wind", "Keyboard", "Electronic"] %>
        <%= f.input :availability, input_html: {data: {controller: "datepicker" }} %>
        <%= f.input :location %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit %>
      <% end %>
    </div>
        <%= link_to 'Back', instruments_path, class: "btn btn-secondary" %>
        <%= link_to 'Delete', instrument_path(@instrument),data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class:"btn btn-danger" %>
</div>
