
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470225620780-dba8ba36b745?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>RENT 'N PLAY</h1>
    <h2>Unleash Your Musical Journey : Rent, Play, Repeat !</h2>
    <p>Rent instruments with Rent 'N Play</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>


<div class="container mt-5">
  <div class="flex-inline">
    <div class="row justify-content-center my-3">
      <div class="col-sm-8 my-3">
        <%= form_with url: instruments_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Type a keyword"
            %>
          <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row row-cols-3 gy-2">
    <% @instruments.each do |instrument| %>
      <div class="col">
        <div class="card border border-warning rounded-5 border-1">
        <%= image_tag instrument.photo, class: "card-img-top", alt: instrument.title %>
          <div class="card-body">
            <h5 class="card-title"><%= instrument.title %></h5>
            <p><strong>Category</strong>: <%= instrument.category %></p>
            <p><strong>Location</strong>: <%= instrument.location %></p>
            <p><strong>Availability</strong>: <%= instrument.availability %></p>
            <p><strong>Price</strong>: <%= instrument.price %> <i class="fa-solid fa-euro-sign"></i></p>
            <p><strong>Owner</strong>: <%= instrument.user.first_name %> <%= instrument.user.last_name %></p>

            <%= link_to 'Show Instrument', instrument_path(instrument), class:"btn btn-warning" %>

            <%# <%= link_to 'Edit', edit_instrument_path(instrument), class:"btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
