<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1554446422-c4d46271ab85?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="row">
    <div class="col-12">
      <h1>RENT 'N PLAY</h1>
      <h2>Unleash Your Musical Journey : Rent, Play, Repeat !</h2>
    </div>
    <div class="col-6 mt-5">
          <%= form_with url: instruments_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control rounder-lg me-2 border form-control-lg",
                  placeholder: "Type a keyword"
              %>
            <%= submit_tag "Search", name: "", class: "btn btn-info btn-lg" %>
          <% end %>
    </div>
  </div>
</div>



<div class="container mt-5">
  <div class="row row-cols-3  gy-2">
    <% @instruments.each do |instrument| %>

      <div class="col col-md-6 col-lg-4 col-xl-3 mb-4 col-sm-12 col-xs-12">
        <div class="card border border-warning rounded-5 border-1">
                      <% if instrument.photos.attached? %>
                <div id="carousel-<%= instrument.id %>" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <% instrument.photos.each_with_index do |photo, index| %>
                      <button type="button" data-bs-target="#carousel-<%= instrument.id %>" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
                    <% end %>
                  </div>
                  <div class="carousel-inner">
                    <% instrument.photos.each_with_index do |photo, index| %>
                      <div class="carousel-item <%= 'active' if index == 0 %>">
                        <%= image_tag url_for(photo), class: "d-block w-100" %>
                      </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= instrument.id %>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= instrument.id %>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              <% else %>
                <p>No photos available for this instrument.</p>
              <% end %>

          <div class="card-body">
            <h5 class="card-title"><%= instrument.title %></h5>
            <p><strong>Category</strong>: <%= instrument.category %></p>
            <p><strong>Location</strong>: <%= instrument.location %></p>
            <p><strong>Availability</strong>: From <%= instrument.start_date %> to <%= instrument.end_date %></p>
            <p><strong>Price</strong>: <%= instrument.price %> <i class="fa-solid fa-euro-sign"></i></p>
            <p><strong>Owner</strong>: <%= instrument.user.first_name %> <%= instrument.user.last_name %></p>

            <%= link_to 'Show Instrument', instrument_path(instrument), class:"btn btn-info" %>

            <%# <%= link_to 'Edit', edit_instrument_path(instrument), class:"btn btn-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
