<div class="container mt-5">
<h1>Add your Instrument</h1>
  <div class="mt-2">
    <%= simple_form_for @instrument do |f| %>
      <%= f.input :title %>
      <%= f.input :body %>
      <%= f.input :price %>
      <%= f.input :location %>
      <%= f.input :category%>
      <%= f.input :availability %>
      <%= f.button :submit %>
    <% end %>
  </div>
  <%= link_to 'Back', instruments_path, class: "btn btn-secondary" %>
</div>
