<h1>Add your Instrument</h1>
  <div class="mt-2">
    <%= simple_form_for @instrument do |f| %>
      <%= f.input :title %>
      <%= f.input :body %>
      <%= f.input :price,  as: :numeric, input_html: { min: 0 } %>
      <%= f.input :location %>
      <%= f.input :category, collection: ["String", "Percussion", "Wind", "Keyboard", "Electronic"]%>
      <%= f.input :availability, input_html: {data: {controller: "datepicker" }} %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, 'Submit', class: 'custom-submit-button' %>
    <% end %>
  </div>

  <%= link_to 'Back', instruments_path, class: "btn btn-secondary" %>
