<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h1><%= @instrument.title %></h1>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <p><strong>Category:</strong> <%= @instrument.category %></p>
              <p><strong>Price:</strong> <%= @instrument.price %> <i class="fa-solid fa-euro-sign"></i></p>
              <p><strong>Description:</strong></p>
              <p><%= @instrument.body %></p>
            </div>
            <div class="col-md-6">
              <% if @instrument.photo.present? %>
                <%= image_tag @instrument.photo, class: "img-fluid", alt: @instrument.title %>
              <% end %>
            </div>
          </div>
          <hr>
          <div class="card-header">
          <h4>Here is the <%= @instrument.title %></h4>
        </div>
          <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-apikey-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
          <hr>
          <p><strong>Posted by:</strong> <%= @instrument.user.first_name %> <%= @instrument.user.last_name %></p>
          <%= link_to 'Edit', edit_instrument_path(@instrument), class: "btn btn-primary" %>
          <%= link_to 'Back', instruments_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
